
body {
  background-image: url('BGPets.png');
  text-shadow: 4px 4px 5px black;
  background-repeat: repeat;
  background-color: #F5F5F5; /* #11222b; */
  font-family: Arial, sans-serif;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

nav {
  min-height: 40px;
  background-image: linear-gradient(to top, #b88fcfee, #7b0692ee);
  /*background-color:  #6A1B9A;  /* #436183; */
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

nav a {
  width: 18%;
  text-align:center;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  transition: background-color 0.9s;
  transition: font-size 0.2s;
}

nav a:hover {
  border-radius: 30px;
  font-size: 15px;
  background-color:  #1c003b99; /* #0e2550; */
  
}
.content {
  margin-top: 40px;
  margin-bottom: 40px
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.card {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #a62fc4c9;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  background-color: #560bacc9;
  transform: scale(1.03);
}

.image-title {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fafafa;
  text-shadow: 3px 3px 4px #000;
  margin-bottom: 5px;
}

.card img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

#contenido-dinamico > div,
#contenido-dinamico > form {
  width: 90%;
  top: 50px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.content {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.textBox {
  margin: 20px;
  padding: 40px;
  background-color: #4e2749e0;
  border-radius: 20px 50px;
  color: #ffffff;
  text-shadow: 5px 5px 10px #111;
  max-width: 90%; /* Asegurarse de no exceder el ancho del padre */
  box-sizing: border-box;
}


form {
  background-color: rgba(139, 100, 154, 0.904); /* rgba(255, 255, 255, 0.884);*/
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  /* Ajuste del ancho */
  max-width: 900px;
  /* Máximo ancho */
  margin: 2% auto;
}

.form-section {
  margin: auto 2%;
  margin-bottom: 20px;
}

/* Estilos para campos incompletos */
.campo-incompleto {
  border: 1px solid red; /* Cambiar el borde a rojo */
  background-color: #ffeeee; /* Cambiar el fondo a un tono rosado claro */
  color: red; 
}

.submit {
  width: 100%;
  font-size: 22px;
  background-color: #1a0d93;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  border-style: groove;
  border-color: #07051b;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #2613d7ca;
  font-size: 23px;
}

h2 {
  color: #fafafa;
  text-shadow: 3px 3px 4px #111;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.form-section h2 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5%;
}

input {
  font-size: large;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 10px;
  padding-left: 5%;
  /* text-align: center; */
}

footer {
  background-image: linear-gradient(to top, #7b0692de, #b88fcfde);  
  color: white;
  font-size: 11px;
  text-align: center;
  text-shadow: 4px -4px 5px black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  width: 30%;
}

@media screen and (min-width: 768px) {
  footer p {
    font-size: 12px;
  }
  nav ul {
    justify-content: space-between;
  }

  .card-container {
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
  }

  .pet-form {
    margin-top: 20px;
    flex-direction: column;
  }

  .form-section {
    margin-right: 20px;
    width: 95%;
  }
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}